<!DOCTYPE html>
<html>
<head>
    <title>Volunteers</title>
</head>
<body>
    <h1>Volunteers</h1>
    <a href="/volunteer/new">Add New Volunteer</a>
    <ul>
        {% for v in volunteers %}
            <li>
                {{ v['firstName'] }} {{ v['lastName'] }} - {{ v['email'] }} - {{ v['phoneNumber'] }}
                <a href="/volunteer/update/{{ v['volunteerID'] }}">Update Phone</a>
            </li>
        {% else %}
            <li>No volunteers found.</li>
        {% endfor %}
    </ul>
    <a href="/organisations">View Organisations</a> | <a href="/events">View Events</a>
</body>
</html>
